* {
  margin: 0;
  padding: 0;
  font-family: "Agbalumo", sans-serif;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.container {
  z-index: 1000;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0 8%;
  position: absolute;
}
@media only screen and (max-width: 769px) {
  .container {
    padding: 0;
    overflow: auto;
  }
}
.container .users {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 24px;
}
.container .users .user {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.container .users .user a {
  display: block;
  display: flex;
  flex-direction: column;
}
.container .users .user a .avatar {
  width: 120px;
  border-radius: 50%;
  border: 2px solid #ccc;
}
@media only screen and (max-width: 769px) {
  .container .users .user a .avatar {
    width: 90px;
  }
}
.container .users .user a span {
  color: #fff;
  text-decoration: none;
  margin-top: 10px;
}
.container .users .heart i {
  font-size: 40px;
  color: #ff3753;
}
@media only screen and (max-width: 769px) {
  .container .users .heart i {
    font-size: 30px;
  }
}
.container .silent {
  position: absolute;
  left: 6px;
  top: 6px;
  padding: 6px;
}
.container .silent i {
  cursor: pointer;
  color: #fff;
  font-size: 16px;
}
.container .content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
}
@media only screen and (max-width: 769px) {
  .container .content {
    width: 100%;
    top: 20%;
    transform: unset;
  }
}
.container .content h1 {
  font-size: 64px;
  font-weight: 600;
}
@media only screen and (max-width: 769px) {
  .container .content h1 {
    display: none;
  }
}
.container .content h1 span {
  color: #ff3753;
}
.container .content .launch-time {
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.container .content .launch-time div {
  flex-basis: 100px;
  margin: 0 12px;
}
.container .content .launch-time div p {
  font-size: 60px;
  margin-bottom: 14px;
}
@media only screen and (max-width: 769px) {
  .container .content .launch-time div p {
    font-size: 40px;
    margin-bottom: 6px;
  }
}
.container button {
  background: transparent;
  border: 1px solid #fff;
  border-radius: 2px;
  outline: none;
  padding: 12px 25px;
  color: #fff;
  position: absolute;
  bottom: 6px;
  right: 10px;
  cursor: pointer;
}
@media only screen and (max-width: 769px) {
  .container button {
    bottom: 6px;
    right: 6px;
  }
}
.container button i {
  font-size: 14px;
  margin-left: 6px;
}

.background-img {
  background-image: url(../img/gb.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}
@media only screen and (max-width: 769px) {
  .background-img {
    background-position-x: 93%;
  }
}

.overlay {
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
  position: absolute;
}

@keyframes rocket {
  0% {
    bottom: 0;
    opacity: 0;
  }
  100% {
    bottom: 105%;
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */